#!/bin/bash

# this brings the renamed interface up and reprocesses any settings in /etc/network/interfaces for the renamed interface
for i in {1..10}; do
    /usr/sbin/ifup {{ item.name }} && break
    sleep 3
done
